.home_header_container {
    padding: 2rem 0rem;
    background: var(--color-bg-variant);
    display: flex;
    justify-content: space-around;
    gap: -1rem;
}

.home_header_container h2 {
    color: var(--color-white);
}

.home_header_left {
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.home_header_right {
}

.home_header_banner_image {
    height: 20rem;
    width: 40rem;
    flex-shrink: 0;
    background: url(../../assets/fintrust2.png) no-repeat center center;
    background-size: cover;
}