.home_nav_container {
    background: var(--color-bg-variant);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
    gap: 40rem;
}

.home_nav_container h2 {
    
}

.home_nav_left {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.home_nav_logo {
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
    background: url(../../assets/fintrust.png) no-repeat center center;
    background-size: cover;
}

.home_nav_heading {
    color: #FFF;
    font-family: Allerta;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    content: "Fintrust";
}

.home_nav_right {

}

.home_nav_container button {    
  width: 6rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 1.6875rem;
  background: rgba(43, 42, 41, 1);
  color: var(--color-white);
}