.home_footer_container {
    width: 120rem;
    height: 6.75rem;
    flex-shrink: 0;
    background: rgba(0, 158, 75, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_footer_container p {
}