.home_experience_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.home_experience_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_experience_container h2 {
    text-align: justify;
}

.home_experience_container span {

}

.home_experience_banner {
    width: 50rem;
    height: 18rem;
    flex-shrink: 0;
    background: url(../../assets/fintrust4.png) no-repeat center center;
    background-size: cover;
}