

.signup__container{    
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, var(--color-bg) 60%, var(--color-bg-variant) 40%);
}

.signup_boxes {    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    place-items: center;
    column-gap: -40px;
    margin-left: -50px;
}


.signup_box{
    height: 28rem;
    width: 24rem;
    border-radius: 20px;
}

.signup_box1 {
    background-color: var(--color-bg);
    box-shadow: 45px 15px 10px var(--color-bg-variant), -15px -15px 10px var(--color-bg-variant), -15px 15px 10px var(--color-bg-variant), 45px -15px 10px var(--color-bg-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.signup_box2 {
    background-color: var(--color-bg-variant);
    
    box-shadow: 15px 15px 10px var(--color-bg-variant), 15px -15px 10px var(--color-bg-variant);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3rem;
    color: var(--color-white);

}

.signup_signup_btn{
    width: 138.04872131347656px;
    height: 40px;
    border-radius: 27px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background:  rgba(43, 42, 41, 1);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
}

.signup_google_signup{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 44px;
    border-radius: 27px;
    background: rgba(255, 255, 255, 1);
}

.signup_google_logo{
    height: 23px;
    width: 23px;
    background: url(../../assets/google.png) center center ;
    background-size: cover;
}



.signup_box1 h2{
    font-family: Aleo;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;

}

.signup_box1 input {
    width: 320px;
    height: 40px;
    border-radius: 27px;
    text-align: center;
    outline: none;
    background: "#1C8D73";
}

.signup_box2 h2{
    font-family: Aleo;
    font-size: 3rem;
    text-align: left;
}

.signup__singup__btn{
    width: 89.57px;
    height: 31.82px;
    background: var(--color-bg-variant);
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    color: var(--color-white);
}

.signup__name{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.signup__name input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 10rem;
    gap: 20px;
}


.signup_fintrust_logo{
    height: 8rem;
    width: 8rem;
    background: url(../../assets/fintrust.png) no-repeat center center ;
    z-index: 2;
    background-size: cover;
    display: fixed;
    margin-top: -450px;
    transform: translateX(350%);
}
